{% extends "::base.html.twig" %}

{% block javascripts %}
	{{ parent() }}
    
    {% javascripts
        '@PanelAppBundle/Resources/public/autocomplete.js-1.4.1/autocomplete.min.js'
        '@PanelAppBundle/Resources/public/js/index.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}

    {% stylesheets
        '@PanelAppBundle/Resources/public/stylesheet/index.less'
        '@PanelAppBundle/Resources/public/autocomplete.js-1.4.1/autocomplete.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
<div class="col-lg-2">
	<table class="table table-hover table-striped">
		<tbody>
			<tr>
				<td>
					<strong>Api Version</strong>
				</td>
				<td>
					<a href="https://docs.docker.com/reference/api/docker_remote_api_v{{ version["ApiVersion"] }}">{{ version["ApiVersion"] }}</a>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Arch</strong>
				</td>
				<td>{{ version["Arch"] }}</td>
			</tr>
			<tr>
				<td>
					<strong>GitCommit</strong>
				</td>
				<td>
					<a href="https://github.com/docker/docker/commit/{{ version["GitCommit"] }}">{{ version["GitCommit"] }}</a>
				</td>
			</tr>
			<tr>
				<td>
					<strong>GoVersion</strong>
				</td>
				<td>{{ version["GoVersion"] }}</td>
			</tr>
			<tr>
				<td>
					<strong>KernelVersion</strong>
				</td>
				<td>{{ version["KernelVersion"] }}</td>
			</tr>
			<tr>
				<td>
					<strong>Os</strong>
				</td>
				<td>{{ version["Os"] }}</td>
			</tr>
			<tr>
				<td>
					<strong>Version</strong>
				</td>
				<td>
					<a href="https://www.docker.com/">{{ version["Version"] }}</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="col-lg-4 col-lg-offset-2">
	<input class="form-control" placeholder="Filter" data-autocomplete="{{ path("image_search", {}) }}" />

	<table id="images" class="table table-hover table-striped">
		<thead>
			<th>Repository</th>
			<th>Tags</th>
			<th>Real size</th>
			<th>Virtual size</th>
		</thead>

		<tbody>
			{% for image in images %}
			<tr>
				<td>{{ image["RepoTags"]|first|split(':')|first }}</td>

				{% set tags = [] %}
				{% for tag in image["RepoTags"] %}
					{% set tmp = tag|split(":")|last %}
					{% if tmp != "<none>" %}
					{% set tags = tags|merge([tag|split(":")|last|escape]) %}
					{% endif %}
				{% endfor %}
				<td>
					{% if tags is not empty %}
					<span class='label label-info'>{{ tags|join("</span> <span class='label label-info'>")|raw }}</span>
					{% endif %}
				</td>
				<td>{{ image["Size"]|filesize }}</td>
				<td>{{ image["VirtualSize"]|filesize }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div class="col-lg-6 col-lg-offset-6">
	<table class="table table-hover table-striped">
		<thead>
			<th>Name</th>
			<th>Status</th>
			<th>Execute since</th>
			<th>
				<i class="glyphicon glyphicon-wrench"></i>
			</th>
		</thead>

		<tbody>
			{% for container in containers %}
			<tr>
				<td>{{ container["Names"]|join(" | ") }}</td>
				<td>{{ container["Status"] }}</td>
				<td>{{ container["Image"] }}</td>
				<td>
					<a data-stop="{{ container["Id"] }}">
						<i class="glyphicon glyphicon-stop"></i>
					</a>

					{% if "Paused" in container["Status"] %}
					<a data-play="{{ container["Id"] }}">
						<i class="glyphicon glyphicon-play"></i>
					</a>
					{% else %}
					<a data-pause="{{ container["Id"] }}">
						<i class="glyphicon glyphicon-pause"></i>
					</a>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock body %}